@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

body {
  background-color: #ffffff;
  font-family: "SFPro", sans-serif; 
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1, h2 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.message-bubble {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2rem;
}

.gray {
  background-color: #e5e5ea;
  align-self: flex-start;
}

.blue {
  background-color: #0780fe;
  color: #ffffff;
  align-self: flex-end;
}

header {
  background-color: #e4f5fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px 0;
  gap: 8px;
}

.keyboard_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.keyboard_row.middle {
  margin-left: 14px;
}

.keyboard_row.bottom {
  margin-left: 0;
}

.key {
  background-color: #fdfffd;
  border-radius: 6px;
  border: none;
  height: 27px;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.key.medium_key {
  width: 29px;
}

.key.large_key {
  width: 40px;
}

.key.space {
  width: 103px;
}

.key.return {
  width: 85px;
}

#message {
  width: 90%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.phone-screen {
  background-color: #fff;
  aspect-ratio: 1300 / 2556; 
  height: 100vh;             
  border-radius: 40px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
